body {
  font-size: 20rem;
  font-family: 'Gaegu', cursive;
}

a {
  color: inherit;
}

.nav-labels {
  transition: .15s ease-in-out;
}

.nav-labels:hover {
  transform: scale(1.1);
}

.card-edit-form {
  margin: 0 auto;
}

.cram-cards-logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.navigation-tabs {
  font-size: 1.25rem;
}

.flashcard-form-labels {
  font-size: 2rem;
}

#save-button {
  text-align: center;
  font-size: 1rem;
}

#make-flashcard-button {
  margin-top: 5rem;
}

.flash-card {
  margin: 0 auto;
  font-size: 1rem;
}

.no-flash-container {
  font-size: 1rem;
  border-style: none;
}

.no-flash-cards-message {
  text-align: center;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.75rem;
}

.create-card-form,
.card-container {
  margin-top: 14rem;
}

.edit-and-delete-icons {
  font-size: 1.5rem;
}

.edit-icon {
  margin-right: 1rem;
}

.show-answer-icon {
  font-size: 1.5rem;
}

.show-answer-label {
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 400;
}

.fa-arrow-circle-right,
.fa-arrow-circle-down {
  color: rgb(151, 153, 156);
}

.fa-edit:hover,
.fa-trash-alt:hover,
.fa-arrow-circle-right:hover,
.fa-arrow-circle-down:hover {
  color: white;
}

.fa-edit:hover,
.fa-trash-alt:hover {
  transform: scale(1.2);
}

.fa-check-circle:hover,
.fa-angle-right:hover,
.fa-times-circle:hover,
.fa-angle-left:hover {
  transform: scale(1.3);
}

.fa-check-circle:active,
.fa-angle-right:active,
.fa-times-circle:active,
.fa-angle-left:active {
  transform: scale(1.6);
}

.fa-trash-alt,
.fa-arrow-circle-right,
.fa-arrow-circle-down,
.fa-edit,
.fa-trash-alt {
  transition: .15s ease-in-out;
}

.btn-secondary:hover {
  background-color: #007bff;
}

.practice-controls {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 24rem;
  font-size: 3rem;
  color: rgb(52, 58, 64);
}

.next-slider {
  float: right;
}

.prev-slider {
  float: left;
}

.correct-icon {
  float: right;
  margin-right: 2rem;
}

.failed-icon {
  float: left;
  margin-left: 2rem;
}

.progress-bar-container {
  margin: 0 auto;
  margin-top: 13rem;
}
