form {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  margin-top: 150px
}

.hidden {
  visibility: hidden
}

.form-group {
  margin-bottom: 80px;
}

#save-button {
  text-align: center
}

.navbar {
  background-color: #e3f2fd;
}

.card {
  max-width: 35rem;
  margin: 0 auto
}

.no-flash {
  text-align: center;
}

.no-flash-title {
  font-size: 36px
}

.no-flash-container {
  margin-top: 150px
}

.create-button {
  margin-top: 100px
}


